
:root {
    font-size: 10px;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
  }

nav li{
  display: inline;
}

  nav li a { 
    padding: 0 10px;
    color: rgb(49, 45, 45);
    font-size: 1.1rem;
    text-decoration: none;
  }
  

  nav ul {
    list-style: none;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    margin: 0;
  }

#logo-img {
    margin: 0 35px;
}

#logo-img img{
    height: 60px;
}

#container {
    font-size: 75px;
    color: red;
    justify-content: center;
    text-align: center;
    margin: 80px
}

@media screen and (max-width:599px) {
  #container {
    font-size: 35px;
  }
}
